@page "/catalog/products"
@using AMIS.Blazor.Infrastructure.Common

<PageHeader Title="Products" Header="Products" SubHeader="Manage your Products." />

<EntityTable @ref="_table" TEntity="ProductResponse" TId="Guid" TRequest="ProductViewModel" Context="@Context">

   <AdvancedSearchContent>
       @* <MudSelect T="Guid?" Label="Category" @bind-Value="SearchCategoryId">
           <MudSelectItem T="Guid?" Value="null">All Brands</MudSelectItem>
           @foreach (var category in _categories)
           {
               <MudSelectItem T="Guid?" Value="category.Id">@category.Name</MudSelectItem>
           }
       </MudSelect> *@
      @*  <MudSlider T="decimal" @bind-Value="SearchMinimumRate" Min="0" Max="9999" Step="100">Minimum Rate: @_searchMinimumRate.ToString()</MudSlider>
       <MudSlider T="decimal" @bind-Value="SearchMaximumRate" Min="0" Max="9999" Step="100">Maximum Rate: @_searchMaximumRate.ToString()</MudSlider> *@
   </AdvancedSearchContent>

   <EditFormContent>
       @if (!Context.AddEditModal.IsCreate)
       {
           <MudItem xs="12" md="6">
               <MudTextField Value="context.Id" Underline="false" ReadOnly="true" Label="Product Id" />
           </MudItem>
       }
       <MudItem xs="12" md="6">
           <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
       </MudItem>
       <MudItem xs="12" md="6">
           <MudTextField Label="Description" For="@(() => context.Description)" @bind-Value="context.Description" />
       </MudItem>
       <MudItem xs="12" md="6">
           <MudTextField Label="Unit" For="@(() => context.Unit)" @bind-Value="context.Unit" />
       </MudItem>
       <MudItem xs="12" md="6">
           <MudTextField Label="Sku" For="@(() => context.Sku)" @bind-Value="context.Sku" />
       </MudItem>
       <MudItem xs="12" md="6">
           <MudTextField Label="Location" For="@(() => context.Location)" @bind-Value="context.Location" />
       </MudItem>
       <MudItem xs="12" md="6">
           <MudSelect T="Guid?" Label="Category" @bind-Value="context.CategoryId">
               @foreach (var category in _categories)
               {
                   <MudSelectItem T="Guid?" Value="category.Id">@category.Name</MudSelectItem>
               }
           </MudSelect>
       </MudItem>
        <MudItem xs="12" md="12">
                @if (!string.IsNullOrEmpty(context.ImagePath))
                {
                    <MudAvatar Square="true" Style="height: auto; width: auto; max-height: 100%">
                        <MudImage Src="@context.ImagePath.ToString()"></MudImage>
                    </MudAvatar>
                }
                else
                {
                    <MudAvatar Image="@(string.IsNullOrEmpty(context.ImagePath) ? string.Empty : Config[ConfigNames.ApiBaseUrl] + context.ImagePath)" Square="true" Style="height: auto; width: auto; max-height: 100%" />
                }
        </MudItem>
            <MudItem Class="d-flex justify-center"> 
                <InputFile id="fileInput" OnChange="@UploadFiles" hidden accept=".jpg,.jpeg,.png" />
                <div style="padding-bottom:20px">
                    <MudButton DropShadow="false" HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput">
                        Upload
                    </MudButton>
                    @if(!Context.AddEditModal.IsCreate && (!string.IsNullOrEmpty(context.ImagePath)))
                    {
                    <MudButton HtmlTag="label" DropShadow="false" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                                StartIcon="@Icons.Material.Filled.RemoveRedEye" Href="@context.ImagePath" Style="margin-left: 5px;">
                        View
                    </MudButton>

                    <MudButton HtmlTag="label" DropShadow="false" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.Delete" OnClick="ClearImageInBytes" Style="margin-left: 5px;">
                        Delete
                    </MudButton>
                    }
                    @if (!string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation OnClick="@ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                                   StartIcon="@Icons.Material.Filled.Clear" Style="margin-left: 5px;">
                            Clear
                        </MudButton>
                    }
                </div>
            </MudItem>
   </EditFormContent>

</EntityTable>