@page "/catalog/suppliers"

<PageHeader Title="Suppliers" Header="Suppliers" SubHeader="Manage your Suppliers." />

<EntityTable @ref="_table" TEntity="SupplierResponse" TId="Guid" TRequest="SupplierViewModel" Context="@Context">

    <AdvancedSearchContent>
        <!-- Add any advanced search content here if needed -->
    </AdvancedSearchContent>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="Supplier Id" />
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" Style="max-width: 350px;" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Address" For="@(() => context.Address)" @bind-Value="context.Address" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Emailadd" For="@(() => context.Emailadd)" @bind-Value="context.Emailadd" Style="max-width: 350px;" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Tin" For="@(() => context.Tin)" @bind-Value="context.Tin" Style="max-width: 300px;" />
        </MudItem>

        <MudItem xs="12" md="6">
            <MudTextField Label="Contact Number"
                          @bind-Value="context.ContactNo"
                          Placeholder="e.g. 09171234567"
                          MaxLength="13"
                          Immediate="true"
                          Required="true"
                          Pattern="^(09\d{9}|\+639\d{9})$"
                          ErrorText="Enter a valid PH mobile number starting with 09 or +639"
                          Style="width: 180px;" />

        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Tax Registration (VAT/Non-VAT"
                          For="@(() => context.TaxClassification)"
                          @bind-Value="context.TaxClassification"
                          Style="width: 80px;" />
        </MudItem>
               
        
        @* <MudItem xs="12" md="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem> *@
    </EditFormContent>

</EntityTable>
