<EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
    <MudDialog>
        <DialogContent>
            <FshValidation @ref="_customValidation" />
            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudGrid GutterSize="GutterSize.Small">
                <MudItem xs="12" sm="4" md="4">
                    <MudSelect T="Guid?" Label="Inspection Request"
                               Value="@Model.InspectionRequestId"
                               ValueChanged="OnRequestChanged"
                               ValueExpression="@(() => Model.InspectionRequestId)"
                               Placeholder="Select a inspection request by date"
                               Clearable="true"
                               Dense="true">
                        @foreach (var r in _inspectionrequests)
                        {
                            <MudSelectItem T="Guid?" Value="@r.Id">
                                @r.DateCreated.ToString("yyyy-MM-dd")
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" sm="4" md="4">
                    <MudSelect T="Guid?" Label="Inspector" @bind-Value="Model.InspectorId"
                               Placeholder="Select an inspector"
                               Clearable="true"
                               Dense="true">
                        @foreach (var e in _employees)
                        {
                            <MudSelectItem T="Guid?" Value="@e.Id">@e.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" sm="4" md="4">
                    <MudDatePicker Label="Inspection Date"
                                   Date="@_inspectionDate"
                                   DateChanged="@(d => OnDateChanged(d))"
                                   Editable="true"
                                   Dense="true" />
                </MudItem>

                <MudItem xs="12">
                    <MudTextField T="string" Label="Remarks" @bind-Value="Model.Remarks" Dense="true" />
                </MudItem>

                <MudItem xs="12">
                    <InspectionItemsEditor @ref="_itemsEditor" PurchaseItems="_poItems" Products="_products" />
                </MudItem>
            </MudGrid>
        </DialogContent>

        <DialogActions>
            <div class="pa-2">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Size="Size.Small">Save</MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="Cancel" Size="Size.Small">Cancel</MudButton>
            </div>
        </DialogActions>
    </MudDialog>
</EditForm>


