@page "/catalog/products"
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>
<PageHeader Title="Products" Header="Products" SubHeader="Manage your Products." />

<MudDataGrid ServerData="ServerReload"
             MultiSelection="true"
             @bind-SelectedItems="_selectedItems"
             @bind-SelectedItem="_currentDto"
             ColumnResizeMode="ResizeMode.Column"
             Hover="true"             
             Loading="@_loading" 
             @ref="_table"
             Outlined>
    <ToolBarContent>
            <div class="d-flex align-center justify-between w-100 gap-2 flex-nowrap">

                <div class="d-flex align-center flex-nowrap gap-1">
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudButton Variant="Variant.Filled"            
                                   Disabled="@_loading"
                                   OnClick="@(() => OnRefresh())"
                                   StartIcon="@Icons.Material.Filled.Refresh" 
                                   IconColor="Color.Surface" 
                                   Color="Color.Secondary">
                            Refresh
                        </MudButton>
                        @if (_canCreate)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       Disabled="@_loading"
                                       OnClick="OnCreate"
                                       IconColor="Color.Surface">
                                New
                            </MudButton>

                            <MudButton Variant="Variant.Filled" 
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.ContentCopy"
                                       Disabled="@(_selectedItems.Count != 1)"
                                       OnClick="OnClone"
                                       IconColor="Color.Surface">
                                Clone
                            </MudButton>
                        }
                        @if (_canDelete)
                        {
                            <MudButton Variant="Variant.Filled" 
                                       Color="Color.Error"
                                       StartIcon="@Icons.Material.Filled.Delete"
                                       Disabled="@(!(_selectedItems.Count > 0))"
                                       OnClick="OnDeleteChecked"
                                       IconColor="Color.Surface"
                                       Class="mr-4">
                                Delete
                            </MudButton>
                        }
                        @*  @if (_canExport)
                        {
                            <MudLoadingButton Loading="_exporting" Variant="Variant.Outlined" Color="Color.Primary"
                                              Disabled="@_loading"
                                              OnClick="OnExport"
                                              StartIcon="@Icons.Custom.FileFormats.FileExcel"
                                              Size="Size.Small">
                                @ConstantString.Export
                            </MudLoadingButton>
                            <MudLoadingButton Loading="_pdfExporting" Variant="Variant.Outlined" Color="Color.Primary"
                                              Disabled="@_loading"
                                              OnClick="OnExportPDF"
                                              StartIcon="@Icons.Custom.FileFormats.FilePdf"
                                              Size="Size.Small">
                                @ConstantString.ExportPDF
                            </MudLoadingButton>
                        } *@
                        @* @if (_canImport)
                        {
                            <MudFileUpload T="IBrowserFile" FilesChanged="OnImportData" Accept=".xlsx">
                                <ActivatorContent>
                                    <MudButton Size="Size.Small"
                                               Variant="Variant.Outlined"
                                               Color="Color.Primary"
                                               Disabled="@_loading"
                                               StartIcon="@Icons.Material.Filled.Upload">
                                        @if (_uploading)
                                        {
                                            <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                                            @ConstantString.Uploading
                                        }
                                        else
                                        {
                                            @ConstantString.Import
                                        }
                                    </MudButton>
                                </ActivatorContent>
                            </MudFileUpload>
                        } *@
                    </MudHidden>
                    <!-- ☰ Actions for Small Screens -->
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Dense="true">
                            <MudMenuItem OnClick="@(() => OnRefresh())" Disabled="@_loading">Refresh</MudMenuItem>

                            @if (_canCreate)
                            {
                                <MudMenuItem OnClick="OnCreate" Disabled="@_loading">New</MudMenuItem>
                                <MudMenuItem OnClick="OnClone" Disabled="@(_selectedItems.Count != 1)">Clone</MudMenuItem>
                            }

                            @if (_canDelete)
                            {
                                <MudMenuItem OnClick="OnDeleteChecked" Disabled="@(_selectedItems.Count == 0)">Delete</MudMenuItem>
                            }
                        </MudMenu>
                    </MudHidden>
                </div>
            </div>
            <MudSpacer />
            <!-- 🔍 Right: Search Box -->
                @if (_canSearch)
                {                
                <MudTextField T="string" 
                                ValueChanged="@(s=>OnSearch(s))" 
                                Placeholder="Search" 
                                Adornment="Adornment.Start"
                                AdornmentIcon="@Icons.Material.Filled.Search" 
                                IconSize="Size.Medium"
                                Class="mt-0 mb-3" />
                }
            
    </ToolBarContent>
    <Columns>
        <SelectColumn T="ProductResponse" />
        <TemplateColumn Title="Image">
            <CellTemplate>
                <img src="@context.Item.ImagePath" alt="Product Image"
                     style="width: 70px; height: 70px; border-radius: 50%; object-fit: cover; border: 2px solid #ccc;" />
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Description" />
        <PropertyColumn Property="x => x.Unit" />
        <PropertyColumn Property="x => x.Sku" />
        <PropertyColumn Property="x => x.Location" />
        <PropertyColumn Property="x => x.Category.Name" Groupable="true" />
        <TemplateColumn>
            <CellTemplate>
                <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Size="Size.Small"
                         Dense="true"
                         IconColor="Color.Info" AnchorOrigin="Origin.CenterLeft">

                    <MudMenuItem OnClick="@(() => OnEdit(context.Item))">Edit</MudMenuItem>

                    <MudMenuItem OnClick="@(() => OnDelete(context.Item))">Delete</MudMenuItem>
                </MudMenu>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager />
    </PagerContent>
</MudDataGrid>